.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  background-color: #0a2e36;

  .form-wall {
    height: 100vh;
    transform: skewX(42deg);
    background-color: #f6ae2d;
    width: 50%;
    margin-right: 87%;
    position: absolute;
  }

  .actual-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f0f623;

    form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }
  h2 {
    color: #f5f0f6;
    text-align: center;
  }
}
